body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

/*.signup-form{
    background-color: white;
    height: 750px;
    width: 450px;
    border-radius: 5px;
    margin: 20% 15%;
    
}
*/
.
.mj-block{
    background-color: white;
    height: 750px;
    width: 450px;
    border-radius: 5px;
    margin: 20% 15%;
    display: table;
}