body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(62, 159, 238);
  background-image: url(../img/bg-clouds.png);
  background-attachment: fixed;
  color: rgb(6, 0, 56);
}
h2{

  text-align: center;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 500;
}
*{
  box-sizing: border-box;

}
.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 10px;



}
.col-5O{
  -ms-flex: 50%;
  flex: 50%;
}
.col-75{
  -ms-flex: 75%;
  flex: 75%;
}
.col-50, .col-75{
  padding: 0 16px;
}
.contener{
  background-color: #fff;
  padding: 13px 18px 13px 18px;
  
  border-radius: 5px;
  height: 800px;
width: 600px;
margin: 2% 27% 15%;
max-width: 600px;
max-height: 800px;
min-width: 600px;
min-height: 800px;

}

input[type=text]{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
}
.ron{
  display: inline-flex;
}

.ron .col-50{
  margin: 0 -11px;
  right: 40px;
  
}
.ron .col-51{
  margin-left: 30px;
}
h3{ font-size: 17px;
  font-weight: normal;
  margin-top: 0px;
}
.col{
  display: flex;
  flex-wrap: wrap;
 

}
input[type=checkbox]{
  width: 40px;
  background-color: rgb(97, 158, 228);
  
}
.col label input{
  width: 100px;
  background-color: rgb(119, 163, 243);
}
.contrat{
  display: flex;
  margin-top: 20px;
  align-content: space-around;
}
.condition p{
  font-weight: 500;
  font-size: 14px;
  font-weight: 900;
}
.condition a{
  color: rgb(2, 17, 71);
  
}
input[type=submit]{
  width: 130px;
  height: 45px;
  padding: 5px 2px;
  background-color: rgb(101, 177, 240);
  border: none;
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 10px;
  margin-left: 40%;
  color: #fff;

  
}
.envoi {
  font-weight: bold;
  margin-top: 15px;

}
.logo{
  text-align: center;
  margin-top: 30px;
  position: relative;
}
.col div label{
  cursor: pointer;
}
.col div label input[type="checkbox"]{
  display: none;
}
.col{
  margin: 0 5px;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
  align-content: center;

}
.col div label span{
  position: relative;
  display: inline-block;
  background: #eeecec;
  padding: 15px 10px;
  color: rgb(94, 92, 92);
  /*text-shadow: 0 1px 4px rgba(0, 0, 0, .5);*/
  font-size: 12px;
  transition: 0.4s;
  user-select: none;
  overflow: hidden;
  height: 50px;
  width: 120px;
  text-align: center;
  margin-bottom: 6px;

  
}
.col-2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.col-2 div label:first-child{
  margin-left: -45px;
}
.col-2 > div label:nth-of-type(2){
  margin-left: -45px;

}

.plusde label span input[type="checkbox"]{
  box-shadow: none;
  font-size: 20px;
}
.col-2 .liste2 a{
  background: none;
}
.col div label span a{
  font-size: 12px;
  font-weight: bold;
  
}
.col-2 div label span:nth-last-child(3){
border: none;
}
.plusde a{
  margin-left: 10px;
  margin-right: 65px;
  margin-top: 80px;
  color: rgb(94, 92, 92);
  
}
.envoi input[type="submit"]{
  cursor: pointer;
  font-size: 20px;
}

.col div label input:checked{
  background: red;
}

.bouttonbox input[type="checkbox"]{
  width: 100px;
  height: 40;
  background: red;
  -webkit-appearance: none;

}



.checkbox-btn{
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 30px;
  margin-top: 35%;
  margin-left: 17%;
  
  
}
.checkbox-btn input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.checkbox-btn div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 5px;
  
  overflow: hidden;
  
}

.checkbox-btn div .slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgb(238, 238, 238);
  transition: 0.5s;
}
.checkbox-btn input:checked + div .slide{
  transform: translateX(60px);
}

.checkbox-btn .slide:before{
  content: 'OUI';
  position: absolute;
  top: 0;
  left: -60px;
  text-align: center;
  width: 60px;
  height: 100%;
  background: #3498db;
  font-weight: 800;
  color: rgb(255, 255, 255);
  line-height: 30px;
}
.checkbox-btn .slide:after{
  content: 'NON';
  position: absolute;
  top: 0;
  right: -60px;
  text-align: center;
  width: 70px;
  height: 100%;
  background: #bbb8b8;
  font-weight: 800;
  color: rgb(255, 255, 255);
  line-height: 30px;
}
i{
  position: absolute;
  margin-top: 35px;
  margin-left: 410px;
}



 